<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery.js"></script>
 </head>
 
   <body>
      {% include 'includes/_navbar.html' %}
        <div class="container side-collapse-container">
            {% include 'includes/_messages.html'%}
            
            {% block body %}
            
            {% endblock %}
        </div>
      {% include 'includes/_footer.html'%}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
